<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>

    <!--  -->

    <!-- <p>채팅방 : <%= JSON.stringify(result._id) %></p>
    <p><%= JSON.stringify(result.member[0]) %></p> -->
    <div class="detail-bg">
      <div class="chat-screen">
        <div class="chat-box"><span>채팅방 Id : <%=result._id%></span></div>
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box mine"><span>안녕하세요</span></div>
        <% for(let i=0; i < chatMessage.length; i++) { %> <%if( user ==
        chatMessage[i].who){%>
        <div class="chat-box mine">
          <span><%= chatMessage[i].content %></span>
        </div>
        <%} else {%>
        <div class="chat-box"><span><%= chatMessage[i].content %></span></div>
        <% } %> <% } %>
      </div>
    </div>
    <div class="chat-form">
      <input class="chat-input" />
      <button class="chat-button">전송</button>
    </div>

    <!-- soket.IO 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      // 유저의 웹 소캣 연결
      const socket = io();

      // 방 개설 요청 ( 채팅방의 도큐먼트 id )
      socket.emit("ask-join", "<%= result._id %>");

      let inputVal = document.querySelector(".chat-input");
      document
        .querySelector(".chat-button")
        .addEventListener("click", function () {
          // 서버에 유저로 부터 입력 받은 대화내용 요청하기 ->
          socket.emit("message-send", {
            sender: "<%= user %>",
            message: inputVal.value,
            room: "<%= result._id %>",
          });
          inputVal.value = "";
          inputVal.focus();
        });

      socket.on("message-broadcast", (data) => {
        const isMine = data.sender === "<%= user %>";
        const messageClass = isMine ? "mine" : "";
        console.log(data);
        document
          .querySelector(".chat-screen")
          .insertAdjacentHTML(
            "beforeend",
            `<div class="chat-box ${messageClass}"><span>${data.message}</span></div>`
          );
      });
    </script>
  </body>
</html>
